= simple_form_for @post, html: { novalidate: 'novalidate' } do |f|
  = f.input :title,
    required: true,
    hint: build_field_length_hint(Post, :title)

  = f.association :category,
    required: true,
    label_html: { class: 'mt-3' }

  = f.input :body,
    required: true,
    hint: build_field_length_hint(Post, :body),
    label_html: { class: 'mt-3' }

  = f.button :submit, class: 'btn-primary mt-3'
